<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Over ons</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="">Stadslaboratorium</a></li>
                    <li><a href="">Machines</a></li>
                    <li><a href="">Team</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Bedrijven</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="">Diensten</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Burgers</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="">Open lab</a></li>
                    <li><a href="">Evenementen</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="">Praktisch</a></li>
                    <li><a href="">Locatie</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><strong>Makerspace Antwerpen</strong> is een concept en realisatie van <a href="http://anthony.liekens.net">Anthony Liekens</a>, ondersteund door <a href="http://antwerpen.be">Stad Antwerpen</a>.</p>
            </div>
            <hr>
        </div>	
    </div>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>